
.themeColor{
    color: #ff6f0d;
}

.button{
    background-color: #ff6f0d;
    color: #f4f4f4;
    font-weight: bold;
}

.hero_h1{
    font-size: 50px;
}



@media screen and (max-width:500px) {
    .hero_h1{
        font-size: 30px;
    }
}